.master_container{
  background-color:aqua;

  overflow:auto;
  height:1000px;
}

.top_bar{
  background-color:blueviolet;

  position:relative;
  margin-top:10px;
  height:80px;

}

.hp_button{
  background-color:greenyellow;


  width:50px;
  height:20px;

  position:absolute;
  bottom:0px;
  left:0px;

}

.navbar{
  background-color:green;
  width:50px;
  height:20px;
  position:absolute;
  bottom:0px;
  right:0px;
}

.main_bg{
  background-color:red;
  height:600px;
  position:relative;

}

.main_content{
  background-color:blue;
  border:3px solid;
  position:absolute;
  top: 50%;

  height:500px;
  width:100%;
  margin-top: -250px;

}

.summary{
  background-color:burlywood;
  position:absolute;
  left:0px;
  top: 50%;


  height:400px;
  width:200px;
  margin-left:20px;
  margin-top:-200px;

}

.viz_menu{
  background-color:hotpink;

  position:absolute;
  top:50%;
  right:0px;

  height:400px;
  width:200px;

  margin-right:20px;
  margin-top:-200px;
}