/* for testing */
.container {
  border:1px solid;
}
.container div {
  border:1px solid;
}








/* live styles */

#master_cont{
  background-color:rgb(149, 221, 197);
  /* margin-top:20px;
  margin-bottom:20px;
  padding:5px; */

}


#main_window{

}

#nav_main{
  padding-bottom:0px;
}

#home_nav{
  background-color:rgb(107, 211, 230);  
  padding:10px;
}

#navbarNavDropdown{
text-align:right;



}

#eg_img{
  width:400px;
  margin:10px;
}

#viz_thumb{
  /* width:100px; */
  padding:0px;

}

.navbar-toggler{
  position:relative;
  right:6px;
}

#viz_thumb_cont{
  padding:0px;

}

@media (max-width:768px) {
  #nav_main{
    background-color:rgb(107, 211, 230);  
  }
  #nav_main_cont{
    padding:0px;
    background-color:rgb(107, 211, 230);  

  }
  #navbarNavDropdown{
    background-color:white;
    padding:10px
  }
  #navbar-nav{
    /* background-color:rgb(63, 11, 206);
margin:0px;
padding:0px; */
  }
}